body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
        'Arial', sans-serif;
    margin: 0 auto;
    height: 100vh;
    color: #fff;
    /* background: rgb(23, 28, 36); */
    /* background: rgb(61,61,64); */
    /* background: linear-gradient(0deg, rgba(9,9,33,1) 0%, rgba(5,5,5,1) 100%); */
    background: #1a1a1a;
}

* {
    user-select: none;
}

.next-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
